
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #f1f2fa;
    font-family: 'poppins', sans-serif;
}
ul li a{
    margin-right: 8px;
}
hr{
    border: 1.5px solid #0b5ed7;
}

.crd{
    background: #f1f2fa;
    transition: all;
}
.crd:hover{
    background: #0b5ed7;
    color: #fff;
    transition: 0.5s;
    transform: translateY(-10px);
}
.card img{
    margin: auto;
}
#footer a{
    color: #fff;
}

#copyright{
    border-top: 1px solid #333;
}